<p><span style="font-weight: 400;">Put an end to the lewdness.</span></p>
<p><span style="font-weight: 400;">Rebellious house, suffer the penalty and consequences of your sins no more.</span></p>
<p><span style="font-weight: 400;">The King of Glory has laid siege to evil today.</span></p>
<p><span style="font-weight: 400;">He brings forth an army of angels to stone and cut down that spirit of lewdness.</span></p>
<p><span style="font-weight: 400;">They hand over this mob that causes terror and plunder. </span></p>
<p><span style="font-weight: 400;">These scheming spirits will now be under the hand of Judgement.</span></p>
<p><span style="font-weight: 400;">God you have spoken.</span></p>
<p><span style="font-weight: 400;">It is time to act.</span></p>
<p><span style="font-weight: 400;">Do not hold back. </span></p>
<p><span style="font-weight: 400;">Do not take pity nor relent. </span></p>
<p><span style="font-weight: 400;">Clean the home, the city, and the nation of this spirit.</span></p>
<p><span style="font-weight: 400;">Now may your people repent.</span></p>
<p><span style="font-weight: 400;">May they keep their bodies and home clean. </span></p>
<p><span style="font-weight: 400;">May your people be free of anything which would cause them to stumble.</span></p>
<p><span style="font-weight: 400;">Clean and free their heart, minds, and body with the Blood of Jesus.</span></p>
