<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p>
        <span style="font-weight: 700;">Isaiah 25 9</span>
      </p>
      <p>
        <span style="font-weight: 700;"> &ldquo;Surely, you are my God. I trusted you and you saved me.&rdquo;</span>
      </p>

      <p>
        <span style="font-weight: 700 ;"> You are my God. &nbsp;You live today.</span>
      </p>
      <p>
        <span style="font-weight: 700;">I am their target no more. Enough is enough. &nbsp;It is your power that sustains me. You vigorously defend me. You
          are my protective wall they cannot scale. &nbsp;When they charge me their feet crumble. They fall to their knees
          bowing to you O&rsquo; Great King. You silent their words and their breath is useless. &nbsp;You are perfect faithfulness.
          You do marvelous things before my eyes. You remove my disgrace and dry my tears. Surely, you are the living God
          I can trust, &nbsp;Without fail I will breathe again. You save me and my family. To you I give my heart and praise.</span>
      </p>
      <p>
        <span style="font-weight: 700;">In Jesus name. &nbsp;Amen and Amen</span>
      </p>
    </div>
  </div>
</div>
