.container-fluid {  
   
    /* opacity: 0.75; */
    font-weight: 900px;
    font-size: 26px;
    /* text-shadow: 1px 1px #111313; */
    letter-spacing: 2px;
    height: 100%;
    text-align: left;
    border: solid black;
    color: rgb(233, 47, 47);
    font-family: 'Karla', sans-serif;
   }
   