<!-- <aside class="col-sm-3 ml-sm-auto blog-sidebar"> -->
<aside class="sidebarStyle">
    <div class="sidebar-module sidebar-module-inset">
        
        <div class="row socMediaIcons" id= "smIcons">
            <a href="https://www.facebook.com/profile.php?id=100027171726450" class="fa fa-facebook"></a>
            <a href="https://www.twitter.com/godboxchronicle" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/thegodboxchronicles" class="fa fa-instagram"></a>
            </div>
      </div>
  </aside><!-- /.blog-sidebar -->
