<div class="container-fluid">
<p><span style="font-weight: 400;">Great and honorable King, you have covered me with your protection and shielded me from the lies of the past. &nbsp;</span></p>
<p><span style="font-weight: 400;">Father God I walk in confidence not because of anything I have done, but because what you've done in me.</span></p>
<p><span style="font-weight: 400;">I see your protection. &nbsp;I see your love in my life.</span></p>
<p><span style="font-weight: 400;">Because of you I can walk with my head held high. &nbsp;</span></p>
<p><span style="font-weight: 400;">Not in haughtiness, but in the knowledge that you protect and that you love me. </span></p>
<p><span style="font-weight: 400;">In a world that is crashing down on me, you open the door wide allowing me to have these moments with you. </span></p>
<p><span style="font-weight: 400;"> No longer does fear over take me, but life and it's joy&rsquo;s abound.</span></p>
<p><span style="font-weight: 400;">May the difference in me lead people towards you today.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">In Jesus Great name I pray. </span> <span style="font-weight: 400;">Amen and Amen</span></p>
</div>