<div class="container">
<p><span style="font-weight: 400;">Jesus I feel the peace and calmness of your love. &nbsp;</span></p>
<p><span style="font-weight: 400;">Thank you Father you protect all you have given me.</span></p>
<p><span style="font-weight: 400;">You have corrected me with patience, forgiveness, and with love.</span></p>
<p><span style="font-weight: 400;">Please hear my heart. &nbsp;I am sorry; I have done wrong. </span></p>
<p><span style="font-weight: 400;">Father I know your busy, but will you lean your ear this way. &nbsp;Please hear me today. </span></p>
<p><span style="font-weight: 400;">I love you. &nbsp;&nbsp;</span></p>
<p><span style="font-weight: 400;">I want you to be glad you made me.</span></p>
<p><span style="font-weight: 400;"> I want you in my life.</span></p>
<p><span style="font-weight: 400;">Because I can&rsquo;t make it without you, fill me with your spirit that I do better to honor you.</span></p>
<p><span style="font-weight: 400;">In Jesus name Amen and Amen.</span></p>
<p><span style="font-weight: 400;">Thankful</span></p>
</div>