<div class="container">

<p><span style="font-weight: 400;">Jeremiah 33:3</span></p>

<p><span style="font-weight: 400;">Call to me and I will answer you and tell you great and unsearchable things </span></p>

<p><span style="font-weight: 400;">you do not know.</span></p>

<p><span style="font-weight: 400;">Ask and You will tell me the secrets of the world. &nbsp;What shall I ask?</span></p>
<p><span style="font-weight: 400;">Do I ask for the cure for cancer or pride? &nbsp;</span></p>
<p><span style="font-weight: 400;">Do I ask how to become wealthy or secure?</span></p>
<p><span style="font-weight: 400;">No Father, none of that.</span></p>
<p><span style="font-weight: 400;">Father, if I could know something unknown, I would ask for this:</span></p>
<p><span style="font-weight: 400;">How can I represent you that people are drawn to you? </span></p>
<p><span style="font-weight: 400;">How can I have that deep love and self control that your Son had?</span></p>
<p><span style="font-weight: 400;">Father, your Son knew your word without hesitation, He prayed for sick people and they were healed. The deaf could hear, the blind could see and the demons fled.</span></p>
<p><span style="font-weight: 400;">The most knowledgeable men could not argue with him.</span></p>
<p><span style="font-weight: 400;">He brought love and laughter to all ages and to all people.</span></p>
<p><span style="font-weight: 400;">To serve you, to know the unknown is </span></p>
<p><span style="font-weight: 400;">a big cross to bear. &nbsp;Honestly, I am not sure I am ready. &nbsp;</span></p>
<p><span style="font-weight: 400;">So I ask Father, may I wake up each morning, as long as I have breath, with Jesus&rsquo; same love and strength in my heart, mind, and body. &nbsp;May I never have too much of anything that I forget about you. May I never forget to glorify you in all things.</span></p>
<p><span style="font-weight: 400;">And the secret I ask for, how can I make you smile? </span></p>
</div>