<div class = 'container'>
  <h1>About Me</h1>
  <p><span style="font-weight: 400;">There is not just one story that led to this blog, it is a combination of many stories. &nbsp;For example, we had guest over for dinner. We asked one of the little girls visiting, will you say the blessing? &nbsp;She did not know the prayer, God is Great, God is good&hellip;</span></p>
  <p>&nbsp;</p>
  <p><span style="font-weight: 400;">Also, I have had moments in my life where the pain was so great, I didn&rsquo;t know what to say. &nbsp;I realized that we, the christian community, say all to often, &ldquo;Pray about it, or I will pray about it&rdquo; and we don&rsquo;t know how or what to pray.</span></p>
  <p>&nbsp;</p>
  <p><span style="font-weight: 400;">People aren&rsquo;t born praying it takes direction and practise. There is no set magical way, it is your heart. &nbsp;And It is my heart to share. As I have been given I will give back. Through the years, thankfully, I have learned to pray from friends, preachers, and the christian radio station.</span></p>
  <p>&nbsp;</p>
  <p><span style="font-weight: 400;">So I share the prayers of my heart with you in hopes that your relationship with the Lord will flourish and grow stronger.</span></p>
  <p>&nbsp;</p>
  <p><span style="font-weight: 400;">Elizabeth </span></p>
</div>