.navbar   {
    background: rgb(255, 254, 254);
    width: 100%;
    padding: 10px 16px;
    
  }
.dropdown-menu{
    background: rgb(255, 254, 254);
      
}
.dropdown-item{
    color:rgb(0, 0, 0);
}
 .navbar-light .navbar-nav .nav-link    {
    color:rgba(255, 254, 254);
    color:rgb(0, 0, 0);
}
.navbar-brand{
    color:rgb(0, 0, 0);
}
  

