<p><span style="font-weight: 400;">Guilt is a corroded mess we cannot contain. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Father, please let not guilt consume or separate you from my friend. &nbsp;</span></p>
<p><span style="font-weight: 400;">In all the world and in all the love you have to share, I ask that you touch this man. &nbsp;Heal him. Show him that the broken pieces are yours to carry.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">As you gave Job back his strength, strengthen my friend. &nbsp;May he breathe a fresh breath of air that fills his broken heart. </span></p>
<p><span style="font-weight: 400;">The world needs to hear and see your healing power. &nbsp;May he be the one to march forth proclaiming it.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Jesus, look into my heart and see that I am in love with you. &nbsp;Thank you for honoring me with this answered prayer.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">In Jesus name I pray.</span></p>
<p><span style="font-weight: 400;"> Amen and Amen</span></p>