<div class='container'>
<div class="row">

    <h1>Hi I am Elizabeth J</h1>
</div>
<br>
<div class="row">
    <h2>Contact me at ElizabethJ@GodBoxChronicles.com</h2>
</div>
<div class="row">
    <h2>Follow God Box Chronicles on Social Media</h2>
</div>
<div class="row socMediaIcons">
        <a href="https://www.facebook.com/profile.php?id=100027171726450" class="fa fa-facebook"></a>
        <a href="https://www.twitter.com/godboxchronicle" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/thegodboxchronicles" class="fa fa-instagram"></a>
</div>
</div>