<div class="container " id='style'>

    <h5>Confession</h5>
  
    <p><span>How could I ever hurt you? How could I ever hurt you? I strike you with my hand and spew hypocritical words like vomit in your ear. </span></p>
  <p><span >In my cowardness, I chose the one who does not love, before the little ones heart who has pure love for me. Tears and confession cannot relieve my guilt and pain. I cannot handle this. I want to run and shut you down.</span></p>
  <p><span >My guilt is great, I have messed up. &nbsp;God, won&rsquo;t you fix this!? </span></p>
  <p><span >I am sorry. I did wrong. I hurt my own flesh and blood. I hurt myself.</span></p>
  <p>I accept the lot that is given me.</p>
  <p>Father, how can You love me? &nbsp;I have tested you with my actions and words, yet, you remain.</p>
  <p>I know I have to learn. I have to be corrected. Thank you for correcting me.</p>
  <p>Father, if you will not take this away, will you heal the one I have hurt. Please heal and soften his heart, that we may love each other again.</p>
  <p>May he do better than me. May he be blessed with a stable mind, secure and loyal family, full of love. No yelling. No hitting. May he be wise and strong. May he correct his children with direction that is in truth and kindness.</p>
  <p>May he have and give Love and Joy.</p>
  
  <p>In Jesus name I pray,</p>
  
  <p style="color:rgb(255, 217, 5); font-weight:900px">Amen and Amen.</p>
  </div>