<div class="container">
<p><span style="font-weight: 400;">Why would I accept anything that isn&rsquo;t from you?</span></p>
<p><span style="font-weight: 400;">You are the most High God. </span></p>
<p><span style="font-weight: 400;">King of Eternity. &nbsp;</span></p>
<p><span style="font-weight: 400;">Lover of all souls.</span></p>
<p><span style="font-weight: 400;">I refuse to accept or allow this prognosis or title in my life. &nbsp;</span></p>
<p><span style="font-weight: 400;">I refuse to accept <strong>shame</strong>, <strong>guilt</strong>, and <strong>unforgiveness</strong>.</span></p>
<p><span style="font-weight: 400;">What I do accept is your forgiveness. </span></p>
<p><span style="font-weight: 400;">Your love. </span></p>
<p><span style="font-weight: 400;">Your healing.</span></p>
<p><span style="font-weight: 400;">I accept the title you have given me. &nbsp;</span></p>
<p><span style="font-weight: 400;">Your crown jewel. &nbsp;</span></p>
<p><span style="font-weight: 400;">Your heart&rsquo;s desire. </span></p>
<p><span style="font-weight: 400;">Child of the Living God.</span></p>
<p><span style="font-weight: 400;">I could never repay you for your great sacrifice, but I will make every effort too.</span></p>
<p><span style="font-weight: 400;">For You are worthy of all honor. </span></p>
<p><span style="font-weight: 400;">You are worthy of all my praise, all my time, and all of my heart.</span></p>
<p><span style="font-weight: 400;">Forever.</span></p>
</div>