<div class="container-fluid">

  <div class='row'>
    <div class="col-md-10" >

      <div>
        <h1>The God Box Blog</h1>
        <h3>Tile of Blog</h3>
        <h4>warning: LF will be replaced by CRLF in .angular-cli.json. The file will have its original line endings in your working
          directory. warning: LF will be replaced by CRLF in package.json. The file will have its original line endings in
          your working directory. warning: LF will be replaced by CRLF in src/app/app.component.html. The file will have
          its original line endings in your working directory. warning: LF will be replaced by CRLF in src/app/app.module.ts.
          The file will have its original line endings in your working directory. warning: LF will be replaced by CRLF in
          src/index.html.
        </h4>
      </div>
    </div>


    <div class="col-md-2">
      <app-side-bar></app-side-bar>
    </div>
  </div>
</div>