
<div class="container-fluid">
<p><span style="font-weight: 400;">John 16:11 the evil one stands condemned.</span></p>
<p><span style="font-weight: 400;">Oh what a Beautiful Day. &nbsp;The air is cool and fresh; The birds are singing. Father, I long for you as I watch the sunrise and it's beauty and peace. &nbsp;I have peace.</span></p>
<p><span style="font-weight: 400;">How can I ever thank you enough. &nbsp;You accept each word I give and overlook the ones I should not give.</span></p>
<p><span style="font-weight: 400;"> Father on this day, this most glorious day, remember your love for me and my family.</span></p>
<p><span style="font-weight: 400;"> When the evil one enters your kingdom, the kingdom you created and own, please remember he and his angel stand condemned. &nbsp;They are the ones that seek to destroy your pure love, your children and all that you created. They seek to destroy your heart father.</span></p>
<p><span style="font-weight: 400;"> It is written ask and you shall receive.</span></p>
<p><span style="font-weight: 400;"> So father on this day, this most glorious day, I pray I am filled even more with your Holy Spirit. &nbsp;I ask that You do not hear the words of the evil one and his angels who stand condemned, but You hear my words of praise. &nbsp;May my words echo in your ears and flow with Joy To Your Heart!</span></p>
<p><span style="font-weight: 400;">I ask that you remember no more what I've done to hurt you but you remember how you saved me.</span></p>
<p><span style="font-weight: 400;">How you chose.</span></p>
<p><span style="font-weight: 400;">You named me.</span></p>
<p><span style="font-weight: 400;">I am Yours.</span></p>
<p><span style="font-weight: 400;">Thank you. &nbsp;&nbsp;Thank you Father. &nbsp;Thank you.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">In Jesus name I pray. &nbsp;&nbsp;Amen and Amen.</span></p>
</div>